{{#
    @name Error: 404
    @desc The 404 error template.
#}}

{{# Redirect if current_url is in the Redirects global. #}}
{{ partial:statamic-peak-seo::errors/redirects }}
{{ section:left_content }}
<div class="my-4 lg:mb-0 lg:mt-16">
{{ partial:partials/description }}
</div>
{{ section:right_content }}
{{ partial:navigation/client_show_list }}
<!-- Invisible div for spacing -->
<div class="block lg:hidden aspect-video"></div>
<!-- Absolutely positioned scribble -->
<div class="block lg:hidden absolute z-0 bottom-0 left-0 w-full user-select-none pointer-events-none">
  <div class="aspect-video overflow-hidden">
    {{ partial:statamic-peak-tools::components/picture :image="scribble" class="w-full h-full object-cover object-top" sizes="(min-width: 1280px) 980px, (min-width: 768px) 50vw, 100vw" }}
  </div>
</div>
{{ /section:right_content }}
{{ /section:left_content }}
<!-- /errors/404.antlers.html -->
<!-- End: /errors/404.antlers.html -->
