/node_modules
/public/hot
/public/storage
/public/vendor/statamic
/public/img/
/public/static/
/storage/*.key
/vendor
.env
.env.backup
/.phpunit.cache
.antlers.json
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.DS_Store
storage/.DS_Store
storage/framework/.DS_Store
/public/build/
/public/images/.DS_Store
/*/.DS_Store
/*/*/.DS_Store
/public/.DS_Store