<main id="content">
  {{ section:left_content }}
    {{ partial:partials/description margin_class="" visibility_class="hidden lg:block" }}
  {{ /section:left_content }}

  {{ section:right_content }}
    <div class="flex flex-col gap-y-4 md:gap-y-6 lg:gap-y-2 py-4 md:py-6 lg:py-2">
      {{ photography limit="1" }}
        <div>
          <figure class="lg:px-2">
            {{ partial src="statamic-peak-tools::components/picture" class="w-full h-auto" :image="url" cover="false" sizes="(min-width: 1024px) 35vw, 100vw" lazy="true" }}
          </figure>
          <div aria-hidden="true" class="hidden lg:block border-t border-black mx-px mt-2"></div>
        </div>
      {{ /photography }}

      {{ partial:partials/description margin_class="" visibility_class="lg:hidden" }}

      {{ photography offset="1" }}
        <div>
          <figure class="lg:px-2">
            {{ partial src="statamic-peak-tools::components/picture" class="w-full h-auto" :image="url" cover="false" sizes="(min-width: 1024px) 35vw, 100vw" lazy="true" }}
          </figure>
          {{ if !last }}
            <div aria-hidden="true" class="hidden lg:block border-t border-black mx-px mt-2"></div>
          {{ /if }}
        </div>
      {{ /photography }}

      <footer class="relative z-10 lg:hidden border-t border-black">
        {{ partial:layout/header }}
      </footer>
      <!-- Invisible div for spacing -->
      <div class="block lg:hidden aspect-video"></div>
    </div>

  <!-- Absolutely positioned scribble -->
  <div class="block lg:hidden absolute z-0 bottom-0 left-0 w-full">
    <div class="aspect-video overflow-hidden">
      {{ partial:statamic-peak-tools::components/picture :image="scribble" class="w-full h-full object-cover object-top" sizes="(min-width: 1280px) 980px, (min-width: 768px) 50vw, 100vw" }}
    </div>
  </div>
  {{ /section:right_content }}
</main>