@layer base {
    @font-face {
        font-family: "Europa Grotesk";
        font-weight: 400;
        font-display: block;
        src: url("/resources/fonts/EuropaGroteskNr2SB-Medium.woff2") format("woff2");
      }

      [x-cloak] { 
        display: none !important; 
      }
    
      .item-shown {
        @apply transition ease-in duration-700 opacity-100;
      }
      
      .item-hidden {
        @apply opacity-0;
      }

      ::selection {
        @apply bg-green text-black;
      }
}

@layer components {

}

@layer utilities {

}
